@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/section.final.css");
@import url("components/footer.css");
@import url("components/nav-container.css");
@import url("components/who.css");
@import url("components/mission.css");
@import url("components/business.css");
@import url("components/shoppers.css");

body{
  font-family: Lora, serif;
  font-size: 18px;
  margin: 0px;
  text-align: center;
}

h1,h2,h3{
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

h1{
  font-size: 30px;
}


a{
  text-decoration: none;
}


.how-it-works-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: left;
}

.how-text {
  flex: 1.1;
}

.how-image {
  flex: 0.9;
  display: flex;
  justify-content: center;
}

.how-image img {
  width: 100%;
  max-width: 260px;
  object-fit: contain;
  opacity: 0.92;
  filter: drop-shadow(0px 12px 25px rgba(0,0,0,0.15));
  border-radius: 14px;
}

@media (max-width: 900px) {
  .how-it-works-container {
    flex-direction: column;
    text-align: center;
  }

  .how-image img {
    max-width: 300px;
    opacity: 0.8;
  }
}

@media (max-width: 600px) {
  .how-image {
    display: none; 
  }
}

.container{
  padding-top: 15px;
  padding-bottom:15pz;
}

.section {
    padding-top: 30px;
    padding-bottom: 30px;
}


.problem-content {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.problem-text {
    flex: 1;
    min-width: 300px;
    text-align: left;
}

.problem-image {
    flex: 1;
    min-width: 250px;
    max-width: 400px;
}

.problem-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .problem-content {
        flex-direction: column;
        text-align: center;
      }

    .problem-text {
        text-align: center;
       }
}

