.banner{
  background-image: linear-gradient(-225deg, rgba(0,0,0,1.1) 0%, rgba(0,0,0,0.6) 50%),
  url(../../images/background.png);
  padding:150px 0px;
  color:white;
  background-size: cover;
  background-position: center;
}

.banner-with-flat-filter {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/background.jpg');
}

.banner h1 {
  font-size: 50px;
  color: white;

}

.banner h2{
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.8;
  margin-botton: 40px;
}

