.btn-blue{
  background-color: #ffde59;
  padding: 12px 18px;
  border-radius: 4px;
  color: black;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  margin-top: 20px;
}


.btn-blue.disabled {
  background-color: #dcdcdc;  
  color: black;                  
  cursor: default;
  pointer-events: none;        
  box-shadow: none;
}



