.btn-blue{
  background-color: #ffde59;
  padding: 12px 18px;
  border-radius: 4px;
  color: black;
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

.section.for-business .container a.btn-blue {
  margin-top: 20px; /* Sostituisci 20px con il valore desiderato per lo spazio */
  display: inline-block; /* Rende l'elemento capace di accettare margini verticali */
}

.btn-blue.disabled {
  background-color: #dcdcdc;  
  color: black;                  
  cursor: default;
  pointer-events: none;        
  box-shadow: none;
}


