.btn-blue{
  background-color: #ffde59;
  padding: 12px 18px;
  border-radius: 4px;
  color: black;
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

.btn-blue.disabled {
  background-color: #dcdcdc;   /* grigio chiaro */
  color: black;                  /* testo grigio */
  cursor: default;
  pointer-events: none;         /* non cliccabile */
  box-shadow: none;
}
