.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  background: #fdfae4;
  padding: 40px 0;
}

.card {
  background: #FFF9DD;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
  margin: 10px 0px;
  text-align: center;
  max-width: 450px;
  flex: 1 1 45%;
   ;
}

.card img {
  width: 150px;
  border-radius: 6px;
}

.card h3 {
  flex-grow: 1;
  padding-left: 20px;
  font-size: 24px;
}

.subtext {
  font-size: 14px;
  color: #555;
  font-weight: normal;
  margin-top: 5px;
}

.cards-app{
  margin-top: 60px;
  margin-bottom: 60px;
}

.card-app {
  display: flex;
  flex-direction: column;   
  align-items: center;      
  justify-content: center;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
  background: #fdfae4;
}


