.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0px 0;
  background: rgba(0,0,0,0.4); 
  backdrop-filter: blur(50px);  
  z-index: 1000;
}

.nav-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.nav-logo {
  color: #f4c542; 
  font-weight: bold;
}

@media (max-width: 768px) {
  .nav-links a {
    font-size: 16px; 
  }
}


