 .section {
  padding: 60px 0;
  background: #ffffff;
}

.section:nth-child(even) {
  background: #fdfae4;
}

.section .container {
  width: 85%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #222;
}

.section p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.values {
  padding-top: 40px;
  padding-bottom: 40px;
}

.value-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.value-box {
  background: #FFF9DD;
  border-radius: 8px;
  padding: 25px;
  width: 260px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease-out;
}

.value-box:hover {
  transform: translateY(-5px);
}

.value-box h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #111;
}

.value-box p {
  font-size: 16px;
  color: #444;
}

@media (max-width: 768px){
  .value-box {
    width: 90%;
  }

  .section p {
    font-size: 17px;
  }
}

#cta p{
  margin-bottom:25px;
}
